*.dll
*.config
/bin
.DS_Store
*.json
*.cs
*.json
*.json
*.dll
*.json
*.Up2Date
*.json
*.json
*.dll
*.json
*.json
*.json
*.json
*.json
*.json
*.cache
/obj
/obj/Debug/net10.0
*.json
*.json
*.json
/obj/Debug/net10.0
*.json
*.pdb
*.json
*.json
